/.venv/
/.pybuild/
/*.egg-info/
/build/
*.py[co]

/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/gramine-scaffolding*/
/debian/tmp/

/examples/*/app/.scag/
/examples/*/app/scag.toml
