Source: gramine-scaffolding
Priority: optional
Maintainer: Wojtek Porczyk <woju@invisiblethingslab.com>
Standards-Version: 4.6.1
Section: misc
Build-Depends: debhelper-compat (= 13),
 dh-sequence-python3,
 dh-sequence-sphinxdoc,
 dh-python (>= 5),
 bandit,
 python3,
 python3-sphinx-rtd-theme,
 python3-setuptools (>= 66),
 pybuild-plugin-pyproject,
# needed for dh_auto_test's run of pytest
 python3-pytest,
 python3-click,
 python3-docker,
 python3-tomli,
 python3-tomli-w,

Package: gramine-scaffolding
Architecture: amd64
Description: framework for quick development of Gramine apps
 TBD
Depends:
 docker.io,
 gramine,
 python3,
 python3-click,
 python3-docker,
 python3-jinja2,
 python3-tomli,
 python3-tomli-w,
 ${python3:Depends},
 ${misc:Depends},

Package: gramine-scaffolding-doc
Architecture: all
Description: documentation for Gramine Scaffolding
 HTML documentation for Gramine Scaffolding
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Built-Using:
 ${sphinxdoc:Built-Using},
